<form [formGroup]="form">

  <!--(div.form-group>label+input[type='password'].form-control)*3+button.btn.btn-primary-->

  <div class="form-group">
    <label for="">Senha atual</label>
    <input type="password" formControlName="oldPassword" placeholder="Senha atual" class="form-control">

    <div *ngIf="oldPassword.touched && oldPassword.invalid" class="alert alert-danger">
      <div *ngIf="oldPassword.errors.required">
        Informe a senha atual
      </div>
      <div *ngIf="oldPassword.errors.invalidOldPassword">
        Senha atual inválida
      </div>
    </div>


  </div>

  <div class="form-group">
    <label for="">Nova senha</label>
    <input type="password" formControlName="newPassword" placeholder="Nova senha" class="form-control">
    <div  *ngIf="newPassword.touched && newPassword.invalid" class="alert alert-danger">
      <div *ngIf="newPassword.errors.required">
        Informe a nova senha
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="">Repita a nova senha</label>
    <input type="password" formControlName="confirmPassword" placeholder="Repita a nova senha" class="form-control">

    <div  *ngIf="confirmPassword.touched && confirmPassword.invalid" class="alert alert-danger">
      <div *ngIf="confirmPassword.errors.required">
        Repita a nova senha
      </div>
    </div>

    <div *ngIf="confirmPassword.valid &&  form.invalid && form.errors.passwordsShouldMatch" class="alert alert-danger">
      As senhas não conferem
    </div>

  </div>

  <button class="btn btn-primary">Change Password</button>

</form>
